<header>
  <div class="container">
    <div class="header-logo">
      <a href="#" class="header-logo-link link">
        <img src="./images/logo-header.png" class="header-logo-img" alt="" />
      </a>
    </div>
    <div class="header-nav-wrapper">
      <nav class="header-nav">
        <ul class="header-nav-list list">
          <li class="header-nav-list-item">
            <a href="/Home" class="header-nav-list-link link">Home</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#" class="header-nav-list-link link">About</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#" class="header-nav-list-link link">Product</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#" class="header-nav-list-link link">Contact</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#" class="header-nav-list-link link">History</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header-nav-button">Contact Us</button>
    </div>
  </div>
</header>
